/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    
}

.container {
    max-width: 800 px;
    margin:  auto;
    padding: 20px;
}

/* Form styling */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 170px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 39%;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0062cc;
}


p {
    margin-bottom: 20px;
}

/* Button styling */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0062cc;
}

/* Link styling */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
