<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <h1 style="text-align: center; margin-top: 15%; ">The file has been uploaded/Downloaded Successfully.</h1>
    <button onclick="window.location.href='/'" 
    style="display: block; 
    margin: 0 auto;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;">Home</button>
</body>
</html>